<div class="container">
  <mat-card *ngFor="let nyaa of nyaanew" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{nyaa.title}}</mat-card-title>
      <mat-card-subtitle>{{nyaa.category}} | {{nyaa.size}} | Downloads {{nyaa.downloads}} | published {{nyaa.date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a href="{{nyaa.link}}" class="mat-button">DOWNLOAD .TORRENT FILE</a>
    </mat-card-actions>
  </mat-card>
</div>