.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  overflow: hidden;
}

.mat-card-title{
  z-index: 1;
  left: 10px;
  top: 10px;
  right: 10px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mat-card-actions{
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.mat-card-actions .mat-button{

}



mat-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

mat-card-actions{
  background: 
  linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.1)
  );
}

mat-card-content{
  margin-bottom: 0px;
}

.mat-card>.mat-card-actions:last-child{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.mat-card-actions{
  margin-left:0px;
  margin-right:0px;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child{
  margin-right:0px;
  margin-left:0px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mat-card-header .mat-card-title{
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  text-shadow: 0 2px 0 black;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
}