<mat-horizontal-stepper style="min-height: 100vh" [linear]="isLinear" #stepper>
    <mat-step>
        <app-post-form></app-post-form>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
        <app-file-form></app-file-form>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
        <app-user-form></app-user-form>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
        <button mat-button (click)="stepper.reset()">Reset</button>
    </mat-step>
</mat-horizontal-stepper>