<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/Home">Home</a>
      <a mat-list-item routerLink="/Directory">Directory</a>
      <a mat-list-item routerLink="/News">News</a>
      <a mat-list-item routerLink="/Upload">Upload</a>
      <a mat-list-item routerLink="/About">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="300"
        (scrolled)="onScroll()"
        [scrollWindow]="false" >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ShaReIt</span>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-space"></span>
      <button onClick="window.open('https://ipfs.io/')" mat-icon-button color="ascent">
        <mat-icon svgIcon="ipfs-icon"></mat-icon>
      </button>
      <button onClick="window.open('https://webtorrent.io/')" mat-icon-button color="ascent">
        <mat-icon svgIcon="webtorrent"></mat-icon>
      </button>
      <button onClick="window.open('https://steemit.com/')" mat-icon-button color="ascent">
        <mat-icon svgIcon="steemit"></mat-icon>
      </button>
      <button onClick="window.open('https://github.com/marce1994/MyPWA')" mat-icon-button color="ascent">
        <mat-icon svgIcon="github-circle"></mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet>
      <!--Modules loaded here...-->
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
